{% extends 'base1.html' %}
{% block title %}password reset confirm Page{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 my-5">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <p class="">{{field.errors|striptags}}</p>
                {{field}}
                {{field.label}}
            </div>
            {% endfor %}
            <input type="submit" value="Change Password" class="btn btn-primary">
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock content %}