{% extends 'base1.html' %}
{% block title %}password reset done Page{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="jumbotron bg-dark text-white">
            <h1 class="display-4">Mail sent you.....</h1>
            <p class="lead">Mail has been sent to your account. also check spam box of your mail</p>
                
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock content %}